* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Margarine", cursive;
  --font-color-primary: white;
  --font-color-secondary: #06adad;
  --font-shadow: 0px 0px 15px rgba(255, 255, 255, 0.616);
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
  background-color: #000000;
}

/* Navbar */

.nav_menu {
  position: fixed;
  top: 40px;
  left: 30px;
  cursor: pointer;
  z-index: 99;
}

nav {
  background-color: #000000;
  color: var(--font-color-primary);
  position: fixed;
  height: 100vh;
  width: 280px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  z-index: 9;
  display: none;
  box-shadow: 500px 0px 300px 300px rgba(143, 143, 143, 0.671);
}

.nav_toggle {
  display: none;
}

.main_menu * {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.main_menu > ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.main_menu > ul > li > a {
  text-transform: uppercase;
  color: var(--font-color-primary);
  text-decoration: none;
}
.main_menu > ul > li {
  width: 100%;
  text-decoration: none;
}
.main_menu > ul > .active {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0,
    rgba(255, 255, 255, 0.164) 50%,
    rgba(255, 255, 255, 0)
  );
  cursor: pointer;
  opacity: 6;
}
.main_menu > ul > li:hover {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0,
    rgba(255, 255, 255, 0.164) 50%,
    rgba(255, 255, 255, 0)
  );
  cursor: pointer;
  opacity: 6;
}

.hamburger_menu {
  padding: 0 0 100px 10px;
}
.hamburger_menu > a {
  color: var(--font-color-primary);
  text-decoration: none;
}
.hamburger_menu > a > img {
  opacity: 0;
}

.links {
  height: 15%;
  padding: 0 25px;
}
.links > .social_media {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* Home heading style  */
.home {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/img/home_cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-color-primary);
}
.home > .home_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  user-select: none;
}
.home > .home_top > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home > .home_top > div > img {
  width: 11%;
}
.home > .home_top > div > h1 {
  text-transform: uppercase;
  font-size: 75px;
  text-shadow: var(--font-shadow);
}
.home > .home_top > h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: var(--font-shadow);
}

/* Home button style */
.home > .home_bot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 90px;
  height: 10%;
  margin-top: -9%;
}
.home > .home_bot > .btn > img {
  width: 10%;
}

/* From cssbuttons.io by @meermubashar */
.btn {
  width: 350px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-family: var(--font-primary);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: var(--font-color-secondary);
}

.btn:active:before {
  background: #b9b9b9;
}

@media only screen and (max-width: 400px) {
  nav {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  /* Homepage */
  .home {
    background-image: url("../assets/img/home_cover_mb.png");
  }
  .home > .home_top {
    height: 90%;
  }
  .home > .home_top > div {
    flex-direction: column;
  }
  .home > .home_top > div > img {
    width: 24%;
  }
  .home > .home_top > div > h1 {
    font-size: 50px;
  }
  .home > .home_top > h2 {
    font-size: 16px;
  }
  .home > .home_bot {
    height: 10%;
  }
  .home > .home_bot > .btn > img {
    width: 10%;
  }
  .home > .home_bot {
    justify-content: center;
    align-items: baseline;
    padding-right: 0px;
    margin-top: 0px;
  }
  .btn {
    width: 350px;
    font-size: 150%;
  }
}
